<h1 class='text-info'>TweetSweeper Dashboard</h1>
<p>Use the filters to find your problematic/outdated tweets to be deleted</p>
<table class="table table-dark">
  <thead>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">1</th>
      <td class="table-active">Some Guy</td>
      <td>@some_username</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class="table-active">Some Other Guy</td>
      <td>@some_username2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="table-active">The Last Guy</td>
      <td>@some_username3</td>
    </tr>
  </tbody>
</table>
